@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-size: 24px !important;
    font-weight: 700 !important;
  }
  h2 {
    font-size: 22px !important;
    font-weight: 600 !important;
  }
  h3 {
    font-size: 20px !important;
    font-weight: 500 !important;
  }
  h4 {
    font-size: 18px !important;
    font-weight: 400 !important;
  }
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
